canvas {
    position:fixed;
    display : block;
    padding-top: 100px;
    left : 0;
}
nav a {
    color: var(--color-link-hover);
    text-decoration: none;
    position: absolute;
    top: 50vh;
    z-index: 1;
}
nav span {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-link-hover);
    display: block;
    margin-top: 7px;
    -moz-transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
nav a:hover span {
    width: 0;
}

nav a.next {
    right: 10vw;
}

nav a.prev {
    left: 10vw;
}


@media screen and (max-width: 53em) {

    nav a {
        top : auto;
        bottom : 3rem;
    }

    .notice {
        bottom: auto;
        top: 2rem;
        left : 10vw;
        left: 3rem;
    }

} 